<!-- start custom head snippets -->

<style>
  {% if page.header.text_color %}
    .page__hero--overlay .page__title,
    .page__hero--overlay .page__meta,
    .page__hero--overlay .page__lead,
    .page__hero--overlay .btn {
      color: {{page.header.text_color}} !important;
    }
  {% endif %}
</style>

<!-- Add additional stylesheets, not working -->
<link rel="fa_stylesheet" href="../../assets/font-awesome/css/font-awesome.min.css">
<link rel="ai_stylesheet" href="../../assets/academicons/css/academicons.min.css">

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/../../assets/faviconsite.webmanifest">
<link rel="mask-icon" href="../../assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->

<!-- end custom head snippets -->
