<!-- start custom head snippets -->

<style>
  {% if page.header.text_color %}
    .page__hero--overlay .page__title,
    .page__hero--overlay .page__meta,
    .page__hero--overlay .page__lead,
    .page__hero--overlay .btn {
      color: {{page.header.text_color}} !important;
    }
  {% endif %}
</style>

<!-- Add additional stylesheets, not working -->
<link rel="fa_stylesheet" href="../../assets/font-awesome/css/font-awesome.min.css">
<link rel="ai_stylesheet" href="../../assets/academicons/css/academicons.min.css">

<!-- insert favicons. used https://favicon.io/favicon-converter/ -->
<link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon/favicon-16x16.png">
<link rel="manifest" href="../../assets/favicon/site.webmanifest">

<!-- end custom head snippets -->
