---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

p {
  text-align: justify;
  text-justify: inter-word;
}

hr {
  border-top: 4px #999;
}

singlehr {
  // border-bottom: 4px double #333;
  border-top: 4px double;
  // padding: 10px 0;
}

img[src*='#TOC'] { 
    display: block;
    margin: auto;
    align: center;
    width: 40%;
    border: 1px solid #000000;
}

img[src*='#center'] { 
    display: block;
    margin: auto;
    align: center;
}

img[src*='#border'] { 
    display: block;
    margin: auto;
    align: center;
    border: 1px solid #000000;
}

// Reference on font customization
// https://github.com/mmistakes/minimal-mistakes/discussions/1352

/* system typefaces */
$serif: Lora, Georgia, Times, serif !default;
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family           : $serif !default;
$header-font-family           : $sans-serif !default;
$caption-font-family          : $serif !default;

/* type scale */
$type-size-1: 2.441em !default;
$type-size-2: 1.953em !default;
$type-size-3: 1.563em !default;
$type-size-4: 1.25em !default;
$type-size-5: 1.1em !default;
$type-size-6: 0.8em !default;
$type-size-7: 0.8em !default;
$type-size-8: 0.625em !default;

/* headline scale */
$h-size-1: 1.563em !default;
$h-size-2: 1.25em !default;
$h-size-3: 1.125em !default;
$h-size-4: 1.0625em !default;
$h-size-5: 1.03125em !default;
$h-size-6: 1em !default;

html {
    font-size: 1em;
  
    @include breakpoint($medium) {
      font-size: 1.1em;
    }
  
    @include breakpoint($large) {
      font-size: 1.2em;
    }
  
    @include breakpoint($x-large) {
      font-size: 1.2em;
    }
  }

/* other customization */
.archive__item-excerpt {
  font-size: 1.2em;
}

.masthead {
  background-color: $masthead-background-color;

  &__inner-wrap {
    padding: 0em;

    nav {
      z-index: 10;
      background-color: $masthead-background-color;
    }
  }

  &.sticky {
    @include clearfix();
    position: -webkit-sticky;
    position: sticky;
    top: 0em;
    float: right;
    padding: 0.1em;
  }
}

.notice--gray {
  @include notice($li-rutgers-gray);
}
.notice--blue {
  @include notice($li-mid-blue);
}
.notice--yellow {
  @include notice($li-yellow);
}
.notice--green {
  @include notice($li-green);
}

.page__content {
  .notice--gray,
  .notice--blue,
  .notice--yellow,
  .notice--green {
    text-align: left;
    color: $text-color;
  }
}


.search__toggle {
  color: $text-color;
  background-color: $masthead-background-color;

  &:hover {
    color: $primary-color;
  }
}

.search-icon {
  color: $text-color;

  &__inner-wrap {
    background-color: $masthead-background-color;
  }
}